<app-navbar></app-navbar>
<h3 class="container">SEARCH DATA BY TITLE</h3>
<form class="container">
  
    <input
    type="text"
    class="form-control"
    name="title"
    [(ngModel)]="title" 
    (ngModelChange)="search2()"
    autocomplete="off"
    placeholder="Enter Title"
  />
</form>

  <div class="container mt-2" *ngIf="errorMessage" >
    <div class="row">
      <div class="col">
        <p class="h4 text-danger fw-bold">{{errorMessage}}</p>
      </div>
    </div>
  </div>
  <div class="table-responsive-xm mt-2">
<table class="container table table-bordered" *ngIf="!errorMessage">
  <thead class="table-dark">
    <tr class="text-center">
      <th class="usId">UserID <span class="upAr" (click)="sort('userId')">&varr;</span></th>
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let post of posts
          | orderBy : key : reverse
          | paginate : { itemsPerPage: 5, currentPage: p }"
    >
      <td>{{ post.userId }}</td>
      <td>{{ post.id }}</td>
      <td>{{ post.title }}</td>
      <td>{{ post.body }}</td>
    </tr>
  </tbody>
</table>
</div>
<div class="container pagination">
  <pagination-controls
    (pageChange)="p = $event"
    *ngIf="!errorMessage"
  ></pagination-controls>
</div>
