
.usId{
    display: flex;
}
.form-control{
    width: 50%;
}
.upAr{
    font-size: 1.5em;
    cursor: pointer;
    margin-top: -8px;
    margin-left: 8px;
    margin-right: 8px;
}
.upAr:hover{
    color:rgb(166, 225, 245);
}
tr{
    border-radius: 4%;
}
tr:hover{
    background-color: rgb(97, 93, 93);
    color: white;
}
.pagination{
    font-size: 20px;
    margin-left: 16%;
    margin-top: 2.5%;
}