.navbarr{
    background: #e9edf1e0;
    border-bottom: 1px solid black;
}
.usId{
    display: flex;
}
.nava{
    margin-left:8rem;
}
.form-control{
    width: 50%;
 }
.upAr{
    font-size: 1.5em;
    cursor: pointer;
    margin-top: -8px;
    margin-left: 8px;
    margin-right: 8px;
}
.upAr:hover{
    color:rgb(136, 202, 255);
}
thead{
    background-color: #e9edf1e0;;
}
tr{
    border-radius: 4%;
}
td:hover{
    background-color: rgb(208, 225, 252);
}
.pagination{
    font-size: 20px;
    margin-left: 16%;
    margin-top: 2.5%;
}